---
import BargeApp from '../components/BargeApp.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Astro Barge</title>
	</head>
	<body>
		<h1>Astro Barge</h1>
		<BargeApp />
	</body>
</html>

<style>
	body {
		margin: 0em auto;
		padding: 0.75em;
		max-width: 50em;
		font-family: sans-serif;
		line-height: 1.5;
	}
</style>
